body{
  padding: 10px 100px 10px 100px;
}
.icon{
  font-size: 40px;
  color: orange;
}
.top_container{
  display: flex;
}
.title_div{
  margin-right: auto;
  display: flex;
  padding: 20px 0 0 0;
}
.Commerce{
  margin-left: 5px;
  font-size: 20px;
}
.Commerce::first-letter {
  font-size: 100%;
  color: grey;
}
.cart_div{
  padding: 20px 0 20px 0;
}
.right{
  text-align: right;
}
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
 background: orange;
}

.notification .badge {
 position: absolute;
 top: -10px;
 right: -10px;
 padding: 5px 10px;
 border-radius: 50%;
 /* #1a508b; */
 background: #0e49b5;
 color: white;
}
.size{
  height: 450px;
  padding-top: 10px;
}
.middle_container1 {
  width: 100%;
  text-align: center;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: WHITE;
  padding-top: 20px;
}
.mc_icon{
  color: white;
  font-size: 20px;
}
.mc_child1{
  padding: 20px 30px 20px 30px;
  background-color: #0e49b5;
  color: white;
  font-size: 20px;
  text-align: center;
}
.mc_child2{
  padding: 20px 30px 20px 30px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: yellow;
}
.mc_child3{
  padding: 20px 30px 20px 30px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: #e97878;
}
.mc_child4{
  padding: 20px 30px 20px 30px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color:#007965;
}
.middle_container2{
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: lightgrey;
  font-weight: 100;
}
.card_local{
  margin-left: 10px;
  margin-right: 10px;
}
.controls{
  text-align: right;
}
.button{
  background-color: #e97878;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.carousel_item_conntainer1{
  height: auto;
  width: auto;
  
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
.mobile_image{
  height: 150px;
  width: auto;
}
.actual_price{
  text-decoration: line-through;
}
.middle_container3{
  text-align: center;
  height: auto;
}
.padding{
  padding-left: 20px;
  padding-right: 20px;
}
.middle_container4{
  display: inline-grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 10px;
}
.mc4_card{
  display: inline-grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto auto auto auto;
}
.mc4_heading{
  color: grey;
}
.mc4_button{
  background-color: #0e49b5;
  color: white;
}
.mc4_image{
  height: 100%;

}
@media query and (max-width:480px) {

}
